<button class="btn btn-icon left-arrow" (click)="scrollTo('left')" [disabled]="disableScrollLeft">
  <clr-icon shape="angle" dir="left"></clr-icon>
</button>
<div class="link-container" #container>
  <div class="link-list" #list>
    <li role="presentation" class="nav-item" *ngFor="let tab of tabList; let i = index;">
      <button class="btn btn-link nav-link" [ngClass]="{'active': i === selectedIndex}" (click)="selectTab(i)">
        {{tab.title}}
      </button>
    </li>
  </div>
</div>
<button class="btn btn-icon right-arrow" (click)="scrollTo('right')" [disabled]="disableScrollRight">
  <clr-icon shape="angle" dir="right"></clr-icon>
</button>