<div class="main-container">
  <header class="header-1">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="scroll"></clr-icon>
        <span class="title">Scrolling Tabs</span>
      </a>
    </div>
    <div class="header-nav">
      <!-- <a href="javascript://" class="active nav-link nav-text">Home</a> -->
      <a href="https://github.com/nagarsuresh/clarity-scrolling-tab" class="nav-link nav-text">SOURCE CODE</a>
    </div>
    <!-- <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div> -->
  </header>
  <div class="content-container">
    <div class="content-area">
      <h1>Clarity Tab Container</h1>
      <clr-tabs class="tab-container">
        <clr-tab *ngFor="let tab of tabs; let i = index;">
          <button clrTabLink [clrTabLinkInOverflow]="i > 10">{{tab.label}}</button>
          <clr-tab-content *clrIfActive>
            <h1>{{tab.contents}}</h1>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>


      <h1>Scrolling Tab Container</h1>
      <sn-tab-group class="tab-container">
        <sn-tab title="{{tab.label}}" *ngFor="let tab of tabs">
          <ng-template snTabHeader>
            <clr-icon shape="house"></clr-icon> {{tab.label}}
          </ng-template>
          <h1>{{tab.contents}}</h1>
        </sn-tab>
      </sn-tab-group>
    </div>
  </div>
</div>